*{
	margin: 0;
	padding: 0;
}
body{
	background-color: #ffffff;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
	text-align: justify;
}

header{
	background-color: #00117F;
	height: 50px;
	padding:1px;
	margin-bottom:0px;
	color: #fffff0;        
}
#desc, #desc2{
    padding: 10px;
    width: 610px; 
    float:left;
}

#add{
    padding: 5px;
    width: 550px; 
    float:left;
}

#lista{
    padding: 5px;
    width: 760px;
    float: right;
}

#lista-pro{
    clear:both;
}

#titulo{
	clear:both;
	width: inherit;
	height: 40px;
	padding: 5px;
	text-align: center;
	background-color:#4E597F;
	margin-bottom: 20px;
	color: #fffff0;
	border-bottom: solid 2px #0D2CFE;
}
#faixa{
    height: 15px;
    width: inherit;
    background-color: #FF530D;
}
#tabela_membros{
    width: 750px;
}

form{
	margin-top: 15px;
	margin-bottom: 15px;
}

input[type*="submit"]{
	padding:10px 20px 10px 20px;
	margin:5px;
        width: 120px;
        background-color: #FF530D;
        color:#fffff0;
        border: #FF530D;
}

#lk_simples{
    color: #FF530D;
}

input{
	padding:5px;
	margin:5px;
        width: 530px;
}
#combo_membros, #combo_respons, #combo_sprints{
        padding:5px;
	margin:5px;
        width: 100px;
}
a{
	text-decoration: none;
	/*background-color: #0D2CFE;*/
	padding: 2px;
	/*color:#fffff0;*/
	/*text-indent: -9999px;*/
}

#fina{
	background-color: #0D2CFE;
}

table{
	width:900px;
	margin:auto;
}

table tr{
	padding: 5px;
	height: 25px;
	text-align:center;
}

table th{
	text-align:center;
	background-color:#00117F;
	color: #fffff0;
}

table tr:nth-child(even){
	background-color:#ADD8E6;
}